@import "../../../common/palette";

$bgColor: transparent;
$border-thickness: 1px;
$icon-font-size: 1.3rem;
$button-padding-side: 2rem;
$field-padding-side: .75rem;

.searchbar {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comp {
  position: relative;
  display: flex;
}

#mmg-search-field {
  padding-right: $field-padding-side + $icon-font-size + 2 * $button-padding-side;
}

#mmg-search-button {
  position: absolute;
  right: $border-thickness;
  width: $button-padding-side * 2 + $icon-font-size;
  background-color: $color-accent;
  i {
    font-size: $icon-font-size;
  }
}

input:focus:not([type]):not([readonly]),
input[type="text"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly]),
input[type="email"]:focus:not([readonly]),
input[type="url"]:focus:not([readonly]),
input[type="time"]:focus:not([readonly]),
input[type="date"]:focus:not([readonly]),
input[type="datetime"]:focus:not([readonly]),
input[type="datetime-local"]:focus:not([readonly]),
input[type="tel"]:focus:not([readonly]),
input[type="number"]:focus:not([readonly]),
input[type="search"]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  box-shadow: none;
  color: #464a4c;
  background-color: transparent;
  border-color: $color-accent;
  outline: 0;
}

input:not([type]),
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="time"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="tel"],
input[type="number"],
input[type="search"],
textarea.materialize-textarea {
  display: block;
  width: 100%;
  height: inherit;
  padding: .5rem $field-padding-side;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: transparent;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: $border-thickness solid rgba(0,0,0,.15);
  border-radius: .25rem;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

//input {
//  display: block;
//  width: 100%;
//  padding: .5rem .75rem;
//  font-size: 1rem;
//  line-height: 1.25;
//  color: #464a4c;
//  background-color: transparent;
//  background-image: none;
//  -webkit-background-clip: padding-box;
//  background-clip: padding-box;
//  border: 1px solid rgba(0,0,0,.15);
//  border-radius: .25rem;
//  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
//  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
//  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
//  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
//  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
//}

//input:focus {
//  color: #464a4c;
//  background-color: transparent;
//  border-color: $color-accent;
//  outline: 0;
//}



//.title {
//  text-align: center;
//  font-size: 50px;
//  font-family: "Verdana Pro Light", sans-serif;
//  padding-bottom: 5px;
//}

//.subTitle {
//  font-size: 20px;
//  padding-bottom: 5px;
//}

//.comp {
//  background-color: lightgrey;;
//  border: 1px solid snow;
//  text-align: center;
//}



//.button {
//  margin-top: 10px;
//  height: 2em;
//  padding: 0.3em;
//  background-color: #f9f6f9;
//  border-radius: 4px;
//  color: #535797;
//}

//.manga .anime .author {
//  border: 1px;
//  text-align: center;
//}
//
//.manga {
//  background-color: lightcoral;
//}
//
//.anime {
//  background-color: lightgreen;
//}
//
//.author {
//  background-color: lightgoldenrodyellow;
//}
