.modal.modal-fixed-footer(#theModal='')
  .modal-content
    div(#dynamic='')
  .modal-footer
    button.modal-action.modal-close.waves-effect.validate.btn.z-depth-4((click)='close()') {{buttonText[0]}}
    button.modal-action.modal-close.waves-effect.invalidate.btnz-depth-4((click)='close()', "*ngIf"="validate") {{buttonText[1]}}