@import '../../common/common';

.validate {
  background-color: $color-primary;
}

.invalidate {
  background-color: $color-accent;
}

.btn-flat:focus, .btn-flat:hover {
  background-color: $color-primary-darker;
}