.modal(#theModal='')
  .modal-content
    h4 {{title}}
    p {{content}}
  .modal-footer
    button.modal-action.modal-close.waves-effect.waves-green.btn-flat((click)='close()') {{buttonText[0]}}
    button.modal-action.modal-close.waves-effect.waves-green.btn-flat((click)='close()', "*ngIf"="validate") {{buttonText[1]}}