.response-page-wrapper
  .row(*ngIf="results && !searching")
    .col.s12.m6.l4(*ngFor="let res of results")
      // NOTE: putting ngIf in the mmg-response will cause an error
      .test(*ngIf="res.manga")
        mmg-manga-response([manga]="res.manga")
      .test(*ngIf="res.anime")
        mmg-anime-response([anime]="res.anime")
      .test(*ngIf="res.author")
        mmg-author-response([author]="res.author")
      //.test(*ngIf="res.character")
      //  mmg-character-response([character]="res.character")
  .mmg-preloader(*ngIf="searching")
    .preloader-wrapper.big.active
      .spinner-layer.mmg-spinner
        .circle-clipper.left
          .circle
        .gap-patch
          .circle
        .circle-clipper.right
          .circle