/******* COLOR SCHEME *******/
// Global
$color-primary:           #A6E0EE;
$color-primary-darker:    #78BDE4;
$color-secondary:         #658CC3;
$color-secondary-darker:  #2C579C;
$color-accent:            #DA1318;
// Text
$color-text-primary-dark:     black;
$color-text-secondary-dark:   rgba(10, 10, 10, 0.8);
$color-text-primary-light:    white;
$color-text-secondary-light:  rgba(245, 245, 245, 0.8);
$color-text-accent:           $color-accent;
