/******* COLOR SCHEME *******/
// Global
$color-primary:           #795548;
$color-primary-darker:    #5D4037;
$color-primary-lighter:   #D7CCC8;

// Accent
$color-accent:            #00BCD4;
$color-accent-darker:     #00B0D0;
$color-accent-lighter:    #A6E0EE;

// Text
$color-text-primary-dark:     #212121;
$color-text-secondary-dark:   #757575;
$color-text-primary-light:    #DEDEDE;
$color-text-secondary-light:  #AEAEAE;

// #E9D7B3 #E89A71 #C95850 #B64040