/******* COLOR SCHEME: Blue&Paper *******/
// Global
$color-primary:           #1D4E55;
$color-primary-darker:    #0F282B;
$color-primary-lighter:   #287A85;

// Accent
$color-accent:            #C23434;
$color-accent-darker:     #B64040;
$color-accent-lighter:    #E89A71;

// Text
$color-text-primary-dark:     #212121;
$color-text-secondary-dark:   #757575;
$color-text-primary-light:    #DEDEDE;
$color-text-secondary-light:  #AEAEAE;

// #795548 #5D4037 #D7CCC8 #------; accent #00BCD4 (fallback: #00B0D0 #A6E0EE)  - Brown&Blue
// #E9D7B3 #E89A71 #C95850 #B64040                                              - BrownShades
// #0F282B #1D4E55 #287A85 #31C5DA; accent #B64040 (fallback: #------ #------)  - Blue&Paper
