.col.s12.m8.offset-m2.l6.offset-l3
  .row
    .col.s12.m8.offset-m2
      img.circle.responsive-img(src='static/manmanga.jpg', alt='A picture for manmanga')
      h3#mmg-aw-welcome-title.center-align Welcome
  .row
    .col.s10.offset-s1
      h5.center-align ManManga is almost in open alpha release!
      p ManManga will soon be available to every manga and anime lovers!
        |  ManManga is an awesome enhanced search engine for manga and anime.
        | It uses the power of semantic web to retrieve relevant content,
        | from any keywords. Moreover, ManManga doesn't rely at all on Google.
      p The app is still in development - hence the alpha release.
        |  This means that sometimes it will fail to retrieve what you're looking for,
        | or that a third party service will error (not our fault).
        | In the future, we'll try to prevent these issues by developing our own tools
        | and founding to buy more powerful servers.
      h5.center-align Enjoy!