.card
  .card.horizontal.info
    .card-image(*ngIf="manga.coverUrl")
      img.cover(src="{{manga.coverUrl}}" alt="The manga's cover")
    .card-stacked
      .card-content
        .title.card-title {{manga.title | readableResource}}
        .author(*ngIf="manga.author") Author: {{manga.author | readableResource}}
        .illustrator(*ngIf="manga.illustrator") Illustrator: {{manga.illustrator | readableResource}}
        .volumes(*ngIf="manga.volumes") Volumes: {{manga.volumes}}
        .genres(*ngIf="manga.genres") Genres: {{manga.genres | stringifyArray}}
        //.publishers(*ngIf="manga.publishers") Publishers: {{manga.publishers | stringifyArray}}
        .publication(*ngIf="manga.publicationDate") Publication: {{manga.publicationDate}}
    .fixed-action-btn.click-to-toggle.horizontal.more
      a.btn-floating.more.halfway-fab.waves-effect.waves-light.accent
        i.material-icons add
      ul
        li
          a.btn-floating.red(#tooltipped='', data-tooltip="Find characters")
            i.material-icons recent_actors
        li
          a.btn-floating.red(#tooltipped='', data-tooltip="Find author")
            i.material-icons person_pin
        li
          a.btn-floating.yellow.darken-1(#tooltipped='', data-tooltip="Find related")
            i.material-icons search
        li
          a.btn-floating.green(#tooltipped='', data-tooltip="Watch")
            i.material-icons theaters
  .card-content
    span.card-title.activator.grey-text.text-darken-4
      | Abstract
      i.material-icons.right more_vert
    p.abstract {{manga.abstract | truncate:130}}
  .card-reveal
    span.card-title.grey-text.text-darken-4
      | {{manga.title | readableResource}}
      i.material-icons.right close
    p.abstract {{manga.abstract}}
