.card
  .card.horizontal.info
    .card-image(*ngIf="anime.posterUrl")
      img.poster(src="{{anime.posterUrl}}" alt="The anime's cover")
    .card-stacked
      .card-content
        .title.card-title {{anime.title | readableResource}}
        .author(*ngIf="anime.author") Author: {{anime.author.name | readableResource}}
        .episodes(*ngIf="anime.episodes") Episodes: {{anime.episodes}}
        .genres(*ngIf="anime.genres") Genres: {{anime.genres | stringifyArray}}
  .card-content
    span.card-title.activator.grey-text.text-darken-4
      | Abstract
      i.material-icons.right more_vert
    p.abstract {{anime.abstract | truncate:130}}
  .card-reveal
    span.card-title.grey-text.text-darken-4
      | {{anime.title | readableResource}}
      i.material-icons.right close
    p.abstract {{anime.abstract}}
