@import '../../../common/palette';

.abstract {
  text-align: justify;
}

.info {
  margin: 0;
}

.poster {
  height: 100%;
}

.title {
  line-height: 30px !important;
  margin-bottom: 10px;
}

.fixed-action-btn.more {
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  right: 15%;
  bottom: auto;
  padding-top: 0;

  ul {
    bottom: 42px;
  }
}

.fixed-action-btn.more.horizontal {
  ul li {
    margin-top: 0;
  }
}

.backdrop {
  background-color: $color-primary-darker;
}

.accent {
  background-color: $color-accent !important;
}

.primary-color-lighter {
  background-color: $color-primary-lighter !important;
}