.search-wrapper
  .row.searchpage.center-align
    .col.s10.offset-s1.m8.offset-m2.l6.offset-l3
      img.responsive-img(src="static/logo.png" alt="manmanga logo")
    .col.s12.m8.offset-m2.l6.offset-l3
      mmg-search-bar