.row
  .col.s12.m10.offset-m1.l8.offset-l2
    h2 About
    p ManManga is a awesome enhanced search engine dedicated to manga and anime.
      |  It uses the power of
      em semantic web
      |  to provide manga and anime lovers relevant content,
      | as well as some useful API out there to greatly increase the richness
      | of its content.
    p ManManga is not like most of the search engines out there.
      |  First of all, it
      strong  doesn't spy, collect or share your personal information.
      |  Never. From this point of view, you can compare it to DuckDuckGo.
      | Then, it's not based on any big search engine.
      strong  Not on google, not on yahoo, nothing.
      |  ManManga has its own indexed content. And still, it's fast despite
      | our lack of money. To be honest, we don't have a penny.
    p ManManga is also
      em  dedicated
      | . It means that it is way more powerful and will ensure users to retrieve relevant
      | content.

    h3 Milestone
    p So where are we today? ManManga is in a good shape, able to do the basic stuff
      |  we wanted in the original idea: searching any anime or manga by title,
      | but also using any keyword. By the way, the keyword search should be more
      | powerful in a really near future. This is great, because it means that
      | it
      em  is
      |  an achievable project.
    p Now that the basics are set, we have so many ideas to improve it!
      |  In the nearest future, ManManga will also be able to retrieve for you
      | authors characters. It will also index more content to be even more fast
      | that it already is. Because hey, after all, ManManga is currently running on a poor
      | virtual server, without much space and computing power.
    p But better than that, our goal is to connect everything to everything else,
      | so you would be able to retrieve a lot of information from anything. Let's take an example:
      | you start with the keyword
      em  ghoul
      | . From here you'll find
      em  Tokyo Ghoul
      | , among others. Then, you'll have access to its genres, its author, illustrator, magazines and so on.
      | From the genres you'll be able to discover similar manga. From the magazine you'll be able
      | discover manga published at the same time, and so on. All of that made easier for you,
      | cause we can
      em  compute
      |  that.
    p Something awesome would also be to connect it with other app in the manga world.
      |  To be clear, you could find a anime on ManManga, and directly click a link
      | to view the first episode on some website such a CrunchyRoll. Or you can click and
      | buy a manga you haven't yet. Or be notified when an anime is airing so you won't mis it,
      | and so on. ManManga could be a
      strong wide portal opening on the manga & anime world.
    p For now, let's not forget that ManManga is still just almost in alpha release.
      |  But we truly believe that it could become something awesome.