doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Manmanga
    link(href="static/favicon.ico", rel="icon", type="image/x-icon")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(href="static/css/materialize.css", rel="stylesheet", type="text/css", media="screen,projection")
    link(href="index.css", rel="stylesheet" type="text/css")
    base(href="/")
  body
    mmg-app Loading...
    script(async src="/main.bundle.js")
