@import "../common/palette";

nav {
  background-color: $color-primary-darker;
  z-index: 10;
  position: sticky;
}

/**
 * Force the disclaimer modal to have a certain background.
 */
:host /deep/ #mmg-disclaimer-modal .modal {
  // NOTE: in scss, we MUST use /deep/ and not >>>
  background-image: linear-gradient(
    rgba(245, 245, 245, 0.7),
    rgba(245, 245, 245, 0.7)
  ), url('../static/sn0w2.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
}

:host /deep/ #mmg-disclaimer-modal * .modal-footer {
  background-color: rgba($color-text-primary-dark, 0.5);
}